<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeSearch</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div class="fixed">
        <div class="navParent">
            <a href="/" id="title">Anime Search</a>
            <ul class="nav">
                <% if(!(page.type === "home")){%>
                <li><a href="/" class="navItem">Home</a></li>
                <%} %>
                <li><a href="/about" class="navItem">About</a></li> 
                <li><a href="/faq" class="navItem">FAQ</a></li>
            </ul>
        </div>
    </div>
    
<div id="content">
    
