<%- include("./partials/header.ejs") %>

<div>
    <img id="profilePic" src="./images/ProfilePicture.jpeg" alt="A picture of myself">
    <h2>About</h2>
    <p>Hi, my name is Lucas, I am a web developer with a game development background, programming is a passion, not the greatest artist but I do my best!</p>
    <p>This project was created from scratch with EJS, Node.js, Express.js for getting a deeper understanding on how to interact with a public API and translate its results in a readable page, dealing with GraphQL was also a new and interesting challenge. 
        It is posted on <a href="https://github.com/NakazatoJL/animesearchapp" target="_blank">github</a> if you want to check out how it was done.</p>
    <p>You can check more of my work on my <a href="https://github.com/NakazatoJL" target="_blank">github</a> or you can visit this static page of my <a href="https://nakazatojl.github.io/personal-website/" target="_blank">portfolio</a>.</p>
</div>

<%- include("./partials/footer.ejs") %>